.App{
    height: 100vh;
}

@mixin gradientBg($startColor, $endColor) {
	color: $startColor;
	color: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	color: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	color: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.navbar{
    position:fixed;
    height:5em;
    bottom:0em;
    width:100%;
    //border-top:1em;
    border-color:rgb(209, 208, 208);
    //border-top-width:0.5em;
    border-width:0.05em;
    border-style: solid;
    @include gradientBg(#52A0FD, #00e2fa);
    background-color:rgb(255, 251, 251);
    color: #52A0FD;
    display:flex;
    //justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    a {
        //@include gradientBg(#52A0FD, #00e2fa);
        color:rgb(189, 188, 188);
        text-decoration: none;
    }
    
    a:hover 
    {
        //@include gradientBg(#52A0FD, #00e2fa);
        @include gradientBg(#52A0FD, #00e2fa);
         text-decoration:none; 
         cursor:pointer;  
    }
}


.navbar-icon{
    //margin:auto;
    margin-bottom:0em;
    font-size:2em;
}

.navbar-button{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:auto;
    
}

.navbar-p{
    margin:auto;
    margin-top:0.5em;
    font-size:0.8em;
}