.App{
    height: 100vh;
}


.navbar{
    position:fixed;
    height:5em;
    bottom:0em;
    width:100%;
    //border-top:1em;
    border-color:#E0E7DD;
    //border-top-width:0.5em;
    border-width:0.05em;
    border-style: solid;

    background-color:rgb(179, 177, 177);
    color:#BFBFBF;
    display:flex;
    justify-content: space-evenly;
}